<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<title>Welcome to Toddler!</title>
<head>
<link rel="stylesheet" href="static/noice.css">
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<h1>Home</h1>
<h2>List of commands...</h2>
<p>
    <button onclick="window.location.href = '/adduser';">adduser</button><br />
    <button onclick="window.location.href = '/verify';">verify</button><br />
    <button onclick="window.location.href = '/login';">login</button><br />
    <button onclick="window.location.href = '/additem';">additem</button><br />
    <button onclick="window.location.href = '/search';">search</button><br />
    <button onclick="window.location.href = '/del_it';">del_it</button><br />
    <button onclick="window.location.href = '/get_usr';">get_usr</button><br />
    <button onclick="window.location.href = '/get_post';">get_post</button><br />
    <button onclick="window.location.href = '/get_followers';">get_followers</button><br />
    <button onclick="window.location.href = '/get_following';">get_following</button><br />
    <button onclick="window.location.href = '/usr_follow';">usr_follow</button><br />
    <button onclick="window.location.href = '/logout';">logout</button><br />
    <button onclick="window.location.href = '/addmedia';">addmedia</button><br />
    <button onclick="window.location.href = '/getmedia';">getmedia</button><br />




    <a href="/adduser">Sign Up</a>
    <a href="/verify">Verify</a>
    <a href="/login">Login</a>
    <a href="/additem">Add item</a>
    <a href="/item_find">Get / view item</a>
    <a href="/search">search for items</a>
    <a href="/del_it">delete item</a>
    <a href="/get_usr">get user</a>
    <a href="/get_post">get post</a>
    <a href="/get_followers">get followers</a>
    <a href="/get_following">get following</a>
    <a href="/usr_follow">follow</a>
    <a href="/logout">Logout</a>
    <a href="/addmedia">Add media</a>
    <a href="/getmedia">Get media</a>
    
</p>


<!--<script type="text/javascript" src="login_page.js"></script>-->
</body>
</html> 