<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<title>Welcome to Toddler!</title>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="static/noice.css">
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h2>TWEET</h2>

<div id="resultDivContainer"></div>

<p id="myelement1"></p>

    <label for="uname"><b>Let everyone know what you think... </b></label><br />
    Content: <input type="text" placeholder="ENTER TWEEET" name="uname" required id='content'><br />
    childType <select id='childType'>
        <option value="null"></option>
        <option value="retweet">retweet</option>
        <option value="reply">reply</option>
      </select>  <br />
    Parent ID: <input type="text" placeholder="parent" name="uname" required id='parent'><br />
    Media; separate by commas, without spaces.: <input type="text" placeholder="media" name="uname" required id='media'><br />


<button onclick="wat()" id='additem' type="Submit">Add item</button>
<a href="/home">go back home</a>
<a href="/logout">.                                   Logout</a>
    <!--PERSONAL SCRIPT JavaScript-->
<script type="text/javascript">
    function wat()
    {
        console.log("Invoked login... ")
        u_name = document.getElementById("content").value;
        childType = document.getElementById("childType");
        childType = childType.options[childType.selectedIndex].value
        parent = document.getElementById("parent").value;
        media = document.getElementById("media").value.split(",");
        data = JSON.stringify({"content": u_name, "childType": childType, "parent": parent, "media":media});
        alert(data)

        console.log("Data for media array is:")


        post_to_server("/additem", data)

    };
    function post_to_server(path, input)
    {
        console.log("Invoked post to server")
        //console.log("Posting to server:")
        //console.log(data)
        //$.post(path, data); 
        $.post(path,input, function(data, status){alert("ID: " + data.id + "\nStatus: " + status);});
    }
    
</script>
<!--<script type="text/javascript" src="login_page.js"></script>-->
</body>
</html> 